@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,700&display=swap");
.App {
  padding: 20px 200px;
  background-color: #c9c9cf;
  box-sizing: border-box;
}
/*        MAINCONTAINER       */
.mainContainer {
  border: none;
  background-color: #fcfcff;
  /* position: relative; */
  width: 375px;
  height: 667px;
  top: -333px;
  left: -188px;
  padding-bottom: 0px;
}
.upperContainer {
  padding: 0px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
/*         HEADER         */
.header {
  font-family: "Karla", sans-serif;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  margin: 6px;
  padding: 0px;
  font-style: italic;
}
.time {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  line-height: 11px;
  color: #030303;
}
.status {
  margin-right: 5px;
}

/*   PASSCODE INPUT AREA   */
.createPasscode {
  display: block;
  position: relative;
  margin-top: 55px;
}
.title {
  cursor: pointer;
  position: absolute;
  height: 40px;
  border-style: none;
  padding: 10px auto;
  background-color: transparent;
  top: calc(20% - 24px / 2 + 33px);
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #1c1c1c;
}
p {
  position: absolute;
  width: 328px;
  height: 20px;
  margin-top: 16px;
  margin-left: 7px;
  padding: 0px;
  /* left: 20px; */
  top: 50px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1c1c1c;
}
.passcode {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  top: 100px;
}
.code {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px #EFF5FF;
  border-radius: 10px;
  width: 56px;
  height: 80px;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 24px;
}

.code--filled {
  background: linear-gradient(224.2deg, #7ef192 0%, #2dc897 94.47%);
  box-shadow: 0px 2px 10px #76ed92;
  color: white;
}

/*  KEYPAD AREA   */
.hiddenKeypad {
  position: absolute;
  width: 375px;
  height: 359px;
  top: 308px;
  background: linear-gradient(
    224.45deg,
    hsl(300, 15%, 32%) -2.13%,
    #3b2e3b 84.9%
  );
  box-shadow: 0px -4px 16px #f8f9ff;
  border-radius: 24px;
  margin-bottom: 0px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.digit {
  width: 50px;
  height: 50px;
  margin: 8px 20px;
  background: transparent;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.digit:hover {
  mix-blend-mode: normal;
  background: transparent;
  background: rgb(93, 69, 93);
  color: white;
  border-radius: 50%;
}
.continueBtn {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 80%;
  height: 35px;
  border: none;
  background: linear-gradient(50.2deg, #7ef192 5.53%, #2dc897 100%);
  box-shadow: 0px 2px 8px #76ed92;
  border-radius: 25px;
  color: white;
}
.line {
  border-bottom: 5px solid gray;
  border-radius: 4px;
  width: 100px;
  position: relative;
  height: 3px;
  align-items: center;
  margin: 20px 20px 0px 20px;
}
